[Unit]
Description=ThermalBooth v2 Web Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=__PROJECT_DIR__/manager
ExecStart=__PROJECT_DIR__/venv/bin/python3 __PROJECT_DIR__/manager/app.py

Restart=always
RestartSec=3

Environment=PYTHONUNBUFFERED=1

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
